
@import url('https://fonts.google.com/specimen/Lexend+Deca');


.conteiner{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    justify-content:center;
    justify-self: flex-start;
    align-items: center;
    flex-direction: row;
    margin: auto;
    
    


}
.conteiner .itens1{
    font-family: 'Lexend Deca';
    background-color: #e27e12;
    display: inline-block;
    height: 400px;
    width: 300px;
    border-radius: 10px 0px 0px 10px;
    padding: 0px 10px;
    
    

}
.conteiner .itens2{
    background-color: #006970;
    display: inline-block;
    height: 400px;
    width: 300px;
    padding: 0px 10px;
    

}
.conteiner .itens3{
    background-color: #004241;
    display: inline-block;
    height: 400px;
    width: 300px;
    border-radius: 0px 10px 10px 0px;
    padding: 0px 10px;
    

}
.conteiner .texto{
    margin-left: 20px;
    color: rgb(202, 202, 202);
    font-family: 'Lexend Deca';
    
    
    
}
.conteiner .img{
    margin-top:40px ;
    margin-left: 40px;
    height: 40px;
    
}
.conteiner .h2{
    font-size: 30px;
    color: white;
}
.conteiner button{
    margin: 40px;
    margin-left: 93px;
    font-size: 17px;
    border-radius: 20px;
    padding: 15px;
    border: none;
    transition: 0.2s linear;
    
}
.conteiner .c{
    color: #004241;

}
.conteiner .b{
    color: #006970;
}
.conteiner .a{
    color: #e38826;
}
.conteiner button:hover{
    color: rgb(143, 141, 141);
    letter-spacing: 1px;
}
.conteiner p{
    width: 80%;
    font-family: "Lexend Deca";
    line-height: 1.5em;
}