
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
body{
    
        font-family: 'Poppins', sans-serif;
        padding-bottom: 40px;
    
}

.conteiner{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 700px;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    
}
.conteiner .primeiro{
    margin-top: 50px;
    color:#697077;
    font-weight: 200;
}
.conteiner .segunda{
    color: #4c4e61;
}
.conteiner .para1{
    width: 25%;
    text-align: center;
    color: #697077;
    text-align:justify ;
}
.conteiner img{
    height: 50px;
    width: 50px;
    position: relative;
    left: 200px;
    top: 20px;
}
.conteiner .super{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 200px;
    position: absolute;
    left: 160px;
    padding: 30px;
    top: 360px;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.397);
    border-radius: 5px;
    border-top: 5px solid #45d3d3;
    transition: 0.2s linear;
    
    

}
.conteiner  .team:hover{
    box-shadow: 2px 2px 8px 5px rgba(0, 0, 0, 0.397);
    width: 310px;
    height: 210px;
}
.conteiner  .calcu:hover{
    box-shadow: 2px 2px 8px 5px rgba(0, 0, 0, 0.397);
    width: 310px;
    height: 210px;
}
.conteiner  .super:hover{
    box-shadow: 2px 2px 8px 5px rgba(0, 0, 0, 0.397);
    width: 310px;
    height: 210px;
}
.conteiner  .karma:hover{
    box-shadow: 2px 2px 8px 5px rgba(0, 0, 0, 0.397);
    width: 310px;
    height: 210px;
}
.conteiner .team{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 200px;
    position: relative;
    top: 30px;
    padding: 30px;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.397);
    border-radius: 5px;
    border-top: 5px solid  #ea5353;
    transition: 0.2s linear;
    

}
.conteiner .calcu{
    transition: 0.2s linear;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 200px;
    position: absolute;
    right: 160px;
    top: 360px;
    padding: 30px;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.397);
    border-radius: 5px;
    border-top: 5px solid #549ef2;
    

}
.conteiner .karma{
    transition: 0.2s linear;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 200px;
    position: absolute;
   top: 500px;
   margin-bottom: 200px;
   padding: 30px;
   box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.397);
   border-radius: 5px;
   border-top: 5px solid #fcaf4a;
   
    
    

}
.conteiner .titulo{
    margin-bottom: 20px;
    color: #4c4e61;
}
.conteiner .pa{
    font-size: 13px;
    color: #697077;
}